<% if ( page != 'login' && page != 'reg' && page != 'COR' ) { %>
<nav class="navbar navbar-dark bg-success donotinclude">
    <div class="container-fluid">
        <div class="navbar-brand">
            <a href="#mainmenu" class="btn text-white" data-bs-toggle="offcanvas" aria-controls="mainmenu">
                <span class="material-icons">
                    menu
                </span>
            </a>
            <%= pageTitle %>
        </div>
        <div class="btn-group">
            <button class="btn dropdown-toggle text-white" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img class="rounded-circle z-depth-2 mx-3" style="width: 40px;" alt="100x100" src="https://ui-avatars.com/api/?name=<%= user.firstname %> <%= user.lastname %>&background=0D8ABC&color=fff" data-holder-rendered="true">
                Hi <%= user.firstname %>
            </button>
            <ul class="dropdown-menu dropdown-menu-end text-center">
                <a class="btn dropdown-menu-item" href="#">
                    <span class="material-icons align-bottom">
                        logout
                    </span>
                    Logout
                </a>
            </ul>
          </div>
    </div>
</nav>

<div class="offcanvas offcanvas-start p-3" tabindex="-1" id="mainmenu" aria-labelledby="mainmenuLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="mainmenuLabel">
            <img class="img-thumbnail w-25" style="border:none;" src="/img/ggcast-logo.jpg"> 
            Welcome to GGCAST
        </h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="container-fluid">
            <ul class="list-group list-group-flush">
                <a href="/" class="list-group-item list-group-item-action">Dashboard</a>
                <a href="#students" data-bs-toggle="collapse" aria-expanded="false" aria-controls="students" class="list-group-item list-group-item-action">Students</a>
                <ul class="list-group list-group-flush collapse" id="students">
                    <a href="#profile" style="padding-left: 30px;" class="list-group-item list-group-item-action">Profile</a>
                    <a href="/enroll" style="padding-left: 30px;" class="list-group-item list-group-item-action">Enrollment</a>                    
                </ul>
                <a href="#faculty" data-bs-toggle="collapse" aria-expanded="false" aria-controls="faculty" class="list-group-item list-group-item-action">Faculty</a>
                <ul class="list-group list-group-flush collapse" id="faculty">
                    <a href="#FacultyLoad" style="padding-left: 30px;" class="list-group-item list-group-item-action">Faculty Load</a>
                    <a href="#GradeEntry" style="padding-left: 30px;" class="list-group-item list-group-item-action">Grade Entry</a>
                </ul>
                <!-- Only Applicable in all Program Head and Registrar but the registrar will be limited to printing of Curriculum -->
                <a href="#curricula" data-bs-toggle="collapse" aria-expanded="false" aria-controls="curricula" class="list-group-item list-group-item-action">Curricula</a>
                    <ul class="list-group list-group-flush collapse" id="curricula">
                        <a href="/subjects" style="padding-left: 30px;" class="list-group-item list-group-item-action">Subjects</a>
                        <a href="/curriculum" style="padding-left: 30px;" class="list-group-item list-group-item-action">Curriculum</a>
                    </ul>
            </ul>
        </div>
    </div>
</div>
<% } %>