<% if ( page != 'login' && page != 'exam' ) { %>
<nav class="navbar navbar-dark bg-success">
    <div class="container-fluid">
        <div class="navbar-brand">
            <a href="#mainmenu" class="btn text-white" data-bs-toggle="offcanvas" aria-controls="mainmenu">
                <span class="material-icons">
                    menu
                </span>
            </a>
            <%= pageTitle %>
        </div>
        <div class="btn-group">
            <button class="btn dropdown-toggle text-white" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img class="rounded-circle z-depth-2 mx-3" style="width: 40px;" alt="100x100" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg" data-holder-rendered="true">
                Hi <%= user.firstname %>
            </button>
            <ul class="dropdown-menu dropdown-menu-start text-center">
                <a class="btn dropdown-menu-item" href="#">
                    <span class="material-icons align-bottom">
                        logout
                    </span>
                    Logout
                </a>
            </ul>
          </div>
    </div>
</nav>

<div class="offcanvas offcanvas-start p-3" tabindex="-1" id="mainmenu" aria-labelledby="mainmenuLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="mainmenuLabel">
          <img class="img-thumbnail w-25" style="border:none;" src="/img/ggcast-logo.jpg"> <%= pageTitle %>
      </h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body" style="padding:0;margin:0;">
        <ul class="list-group">
            <a href="/" class="list-group-item list-group-item-action">
                <span class="material-icons align-bottom mx-3">dashboard</span>
                Dashboard
            </a>
            <a href="/manageaccount" class="list-group-item list-group-item-action">
                <span class="material-icons align-bottom mx-3">manage_accounts</span>
                Manage Account
            </a>
            <hr>
            <a href="/" class="list-group-item list-group-item-action">
                <span class="material-icons align-bottom mx-3">settings</span>
                Settings
            </a>
        </ul>
        
    </div>
</div>
<% } %>