<div id="printContainer" class="overflow-scroll" style="background-color: #000;padding-top:10px;width: 100%;">
  <nav id="printmenubar" class="navbar navbar-light bg-light px-3 fixed-bottom donotinclude" style="background-color: rgba(255, 255, 255, 0.3) !important;">
    <a class="navbar-brand" href="#"></a>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <div>
          <button type="button" id="btnprint" class="btn btn-primary" onclick="window.print()">
            <span class="material-icons align-bottom">print</span>
            Print
        </button>
        </div>
      </li>
    </ul>
  </nav>
  
  <div class="container-fluid" style="background-color: white;width: 760px;">
    <div class="row">
        <div class="col-12 text-center mt-3">
          <img src="/img/header.jpg" class="img-fluid" style="width: 90%;height: 140px;"  alt="..."> 
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center mt-3 print-header-text" style="font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;">
            <h3 style="font-size:large; font-weight: bold;">CERTIFICATE OF REGISTRATION</h3>
        </div>
    <div class="row">
          <div class="col-12 text-center mx-3 mt-0 mb-3" style="font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;">
              <h3 style="font-size:small;">1st Semester, SY: 2021-2022</h3>
          </div>
    </div>
    </div>
    <div class="row mx-2 mb-1">
        <div class="col-2 text-start m-0 p-0 print-data-label-first" style="font-size:small; width:100px">
            Student Name
        </div>
        <div class="col-3 text-start text-uppercase m-0 p-0 print-data-value" style="font-size: small; border-bottom:1px solid lightgrey; width: 200px;">
          Jufrey Cawasa Astrolabio
        </div>
        <div class="col-2 text-start m-0 p-0 mx-4 print-data-label" style="font-size: 0.8rem;width:70px">
            ID Number
        </div>
        <div class="col-1 text-start m-0 p-0 print-data-value-small"style="width: 80px;font-size: small; border-bottom:1px solid lightgrey">
            A21-0001
        </div>
        <div class="col-2 text-start m-0 p-0 mx-4 print-data-label"style="font-size: small;width:60px;">
            Birth Date
        </div>
        <div class="col-2 text-start m-0 p-0 print-data-value-small"style="font-size: small;border-bottom:1px solid lightgrey;width:100px">
            05/29/1989
        </div>
    </div>

        <div class="row mx-2 mb-1">
          <div class="col-2 text-start m-0 p-0 print-data-label-first" style="font-size:small; width:100px">
            Program
        </div>
        <div class="col-6 text-start m-0 p-0 print-data-value" style="font-size: small; border-bottom:1px solid lightgrey; width:400px;">
          Bachelor of Secondary Education
        </div>
        <div class="col-2 text-start m-0 p-0 mx-4 print-data-label"style="font-size: small; width:60px;">
          Gender
        </div>
        <div class="col-2 text-start m-0 p-0 print-data-value-small"style="font-size: small;border-bottom:1px solid lightgrey; width:100px">
          Male
      </div>
    </div>

    <div class="row mx-2 mb-1">
      <div class="col-2 text-start m-0 p-0 print-data-label-first" style="font-size:small; width:100px">
        Major
    </div>
    <div class="col-6 text-start m-0 p-0 print-data-value" style="font-size: small; border-bottom:1px solid lightgrey; width:400px;">
      Mathematics
    </div>
    <div class="col-2 text-start m-0 p-0 mx-4 print-data-label"style="font-size: small; width:60px;">
      Year Level
    </div>
    <div class="col-2 text-start m-0 p-0 print-data-value-small"style="font-size: small;border-bottom:1px solid lightgrey; width:100px">
      2nd
  </div>  
  </div>
  <div class="row mx-2 mb-1">
    <div class="col-2 text-start m-0 p-0 print-data-label-first" style="font-size:small; width:100px">
        AY
    </div>
    <div class="col-3 text-start text-uppercase m-0 p-0 print-data-value" style="font-size: small; border-bottom:1px solid lightgrey; width: 200px;">
      2021-2022
    </div>
    <div class="col-2 text-start m-0 p-0 mx-4 print-data-label" style="font-size: 0.8rem;width:70px">
        Semester
    </div>
    <div class="col-1 text-start m-0 p-0 print-data-value-small"style="width: 80px;font-size: small; border-bottom:1px solid lightgrey">
        1st
    </div>
    <div class="col-2 text-start m-0 p-0 mx-4 print-data-label"style="font-size: small;width:60px;">
        Section
    </div>
    <div class="col-2 text-start m-0 p-0 print-data-value-small"style="font-size: small;border-bottom:1px solid lightgrey;width:100px">
        A
    </div>
</div>
<div>
  <div class="row mb-3 p-0"></div>
  
  
      <table class="table table-borderless" style="margin-bottom: 0in; font-size:x-small;border-bottom: 1px solid rgb(95, 90, 90) ; ">
        
        <thead>         
          <tr class="text-uppercase text-center align-middle" style="font: xx-small;border-bottom: 1px solid rgb(95, 90, 90);border-top: 1px solid rgb(95, 90, 90)">
            <th scope="col" class="m-0 p-0" width="10%">Course Code</th>
            <th scope="col" class="m-0 p-0" width="20%">Course Description</th>
            <th scope="col" class="m-0 p-0" width="4%">Lec</th>
            <th scope="col" class="m-0 p-0" width="4%">Lab</th>
            <th scope="col" class="m-0 p-0" width="17%">Instructor</th>
            <th scope="col" class="m-0 p-0" width="7%">Room</th>
            <th scope="col" class="m-0 p-0" width="18%">Class Schedule</th>
            <th scope="col" class="m-0 p-0" width="20%">PAYABLES BREAKDOWN</th>
            
          </tr>
        </thead>
        
        <tbody>
         
          <tr>
            <td class="m-0 p-0">M106</td>
            <td class="m-0 p-0">Calculus 2</td>
            <td class="text-center m-0 p-0">3</td>
            <td class="text-center m-0 p-0">0</td>
            <td class="text-center m-0 p-0 text-uppercase">Roland Felix Jr. B. Payos</td>
            <td class="text-center m-0 p-0">LGU 1</td>
            <td class="text-center m-0 p-0">2:30PM - 3:30PM MTW </td>
          </tr>
          <tr>
            <td class="m-0 p-0">GE 4</td>
            <td class="m-0 p-0">Mathematics in the Modern World</td>
            <td class="text-center m-0 p-0">3</td>
            <td class="text-center m-0 p-0">0</td>
            <td class="text-center m-0 p-0 text-uppercase">Noel A. Yap</td>
            <td class="text-center m-0 p-0">LGU 2</td>
            <td class="text-center m-0 p-0">2:30PM - 3:30PM MTW </td>
          </tr>
          <tr>
            <td class="m-0 p-0">GE 10</td>
            <td class="m-0 p-0">Living in the IT Era</td>
            <td class="text-center m-0 p-0">3</td>
            <td class="text-center m-0 p-0">0</td>
            <td class="text-center m-0 p-0 text-uppercase">Ryan David M. Pillerin</td>
            <td class="text-center m-0 p-0">LGU 3</td>
            <td class="text-center m-0 p-0">2:30PM - 3:30PM MTW </td>
          </tr>
          
        </tbody>
      </table>
      <div class="row mb-3">
          <div class="col-3 text-uppercase text-start" style="font-size: 11px; width: 227px;">
            TOTAL NUMBER OF SUBJECTS ENROLLED:
          </div>
          <div class="col-1 mx-0 px-0 text-uppercase  text-start" style="font-size: 11px; width: 50px;">
            8
          </div>
          <div class="col-2 mx-0 px-0 text-uppercase text-start" style="font-size: 11px; width: 80px;">
            Total Units
          </div>
          <div class="col-1 mx-0 px-0 text-uppercase text-start" style="font-size: 11px; width: 50px;">
            23
          </div>
      </div>

      <div class="row mt-5">
      <div class="row mt-5">
        <div class="col-2 text-uppercase text-start" style="font-size: 11px; width: 120px;">
          assessed by:
        </div>
        <div class="col-3 mx-0 px-0 text-uppercase  text-start fw-bold " style="font-size: 11px; width: 200px;">
          ronnel doronilla
        </div>
        <div class="col-2 mx-0 px-0 text-uppercase text-start" style="font-size: 11px; width: 120px;">
          certified by:
        </div>
        <div class="col-3 mx-0 px-0 text-uppercase text-start fw-bold" style="font-size: 11px; width: 180px;">
          violeta casicas
        </div>
        <div class="col-2 mx-0 px-0 text-uppercase text-start fw-bold" style="font-size: 11px; width: 100px;">
          elmer elga
        </div>

        <div class="row mb-3">
          <div class="col-5 text-center mx-4" style="font-size: 11px; width: 300px;">
            Clerk
          </div>
          <div class="col-5 mx-0 px-0 text-center" style="font-size: 11px; width: 276px;">
            School Registrar
          </div>
          <div class="col-2 mx-1 px-2 text-middle" style="font-size: 11px; width: 80px;">
            Cashier
          </div>
        <div class="row mt-5">
          <div class="col-2 text-uppercase text-start" style="font-size: 11px; width: 120px;">
            received by:
          </div>
          <div class="col-3 mx-0 px-0 text-uppercase  text-start fw-bold " style="font-size: 11px; width: 200px;">
            Alcimabelle C. carismal
          </div>
        <div class="row mb-3">
          <div class="col-5 mx-1 px-2 text-center" style="font-size: 11px; width: 370px;">
            Scholarship Coordinator
          </div>
        </div>
      
    </div>
  </div>
</div>
<div class="container-fluid" style="background-color: white;">
  <div class="row mt-3 mb-3" style="padding-right: 0%; margin-right: 0%;">
    <div class="col-12 text-start" style="justify-content: flex-end; font-size: 10px;padding-right: 0%; margin-right: 0%;">
      In consideration of any admission to the GOVERNOR GENEROSO COLLEGE OR ARTS SCIENCES AND TECHNOLOGY and of the priviledges of a student in this institution, I hereby promisse and pledge to abide by, and comply with all the rules and regulations laid down by competent authorities.
    </div>
  </div>
  <div class="row mt-5"style="padding-right: 0%; margin-right: 0%;">
    <div class="col-2 text-start" style="width: 100px; justify-content: flex-end; font-size: 9px;padding-right: 0%; margin-right: 0%;">
        DATE PROCESSED:
    </div>
    <div class="col-7 text-start" style="font-weight: bold; justify-content: flex-end; font-size: 10px;padding-right: 0%; margin-right: 0%;">
        11-Jan-22
    </div>
    <div class="col-3 text-start text-uppercase" style="font-weight: bold; justify-content: flex-end; font-size: 10px;padding-right: 0%; margin-right: 0%;">
        JUFREY cawasa astrolabio
    </div>
  </div>
  <div class="row">   
    <div class="col-8" style="justify-content: flex-end; font-size: 9px;padding-right: 0%; margin-right: 0%;width: 480px;">  
        
    </div>
    <div class="col-4 text-center" style="justify-content: flex-end; font-size: 9px;padding-right: 0%; margin-right: 0%;">  
      Name and Signature of Student
  </div>
</div>
</div>





