<div class="container-fluid">
    <div class="row mx-3 p-3" style="border-bottom: 1px solid #CCC">
        <div class="col-sm-12 col-md-10">
            <h3 class="text-uppercase">Curricula</h3>
            <p class="text-muted" style="text-align: justify;">
                
            </p>
        </div>
        <div class="col-sm-12 col-md-2 text-end">
            <a href="" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#createCurriculum" style="border:1px solid #CCC"> 
                <span class="material-icons align-bottom">
                add
                </span>
                Create
            </a>
        </div>
    </div>
    
    <div class="row m-3">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead class="text-white bg-success" style="min-width: 768px;">
                        <tr>
                            <th width="50%">Curriculum</th>
                            <th width="30%" class="text-center">Effectivity Date</th>
                            <th width="20%" class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody class="table-hover">
                        <tr>
                            <td>
                                <h6>Bachelor of Secondary Education Major in Mathematics  Curriculum Series of 2018</h6>
                                <hr>
                                <p>
                                    Notes
                                </p>
                            </td>
                            <td>
                                01/01/2018
                            </td>
                            <td>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 9999">
    <div class="toast w-100" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header bg-success text-white">
            <strong class="me-auto" id="toastTitle">Create Curriculum</strong>
            <small style="font-size: 0.8rem;">Added <%= moment(new Date(), "YYYYMMDD").fromNow(); %></small>
            <button type="button" class="btn text-white" data-bs-dismiss="toast" aria-label="Close">
                <span class="material-icons">close</span>
            </button>
        </div>
        <div class="toast-body" id="toastMessage">
            The new curriculum was successfully added into the record.
        </div>
    </div>
</div>

<%- include('partials/modals/curricula/_addcurriculum.ejs') %>

<script type="module" src="/js/models/curricula/main.js"></script>