<div class="container-fluid">
<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="card mt-5 " style="margin: 0 auto;width: 60%;">
            <div class="card">
                <div class="card-header">
                    <img src="/img/header-logo.png" class="card-img-top p-3" alt="...">
                    <div class="position-absolute bottom-0 end-0"></div>
                    <p class="card-text text-end" style="margin: 0;">Poblacion, Governor Generoso Davao Oriental</p>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4 text-end" style="font-size: 0.8rem;">ggcast.edu.ph</div>
                            <div class="col-md-4 text-end" style="font-size: 0.8rem;">+639102827761</div>
                            <div class="col-md-4 text-end" style="font-size: 0.8rem;">registrar@ggcast.edu.ph</div>
                        </div>
                    </div>
                </div>
                <div class="card-body mt-5">
                    <div class="container-fluid"></div>
                    <div class="card-body"> 
                        <div class="card" style="width: 18rem;">
                            <div class="card-header">
                              Featured
                            </div>
                            <ul class="list-group list-group-flush">
                              <li class="list-group-item">An item</li>
                              <li class="list-group-item">A second item</li>
                              <li class="list-group-item">A third item</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
        
