<div class="container"><div class="w3-panel w3-yellow">
    <h3>Warning!</h3>
    <p>Yellow often indicates a warning that might need attention.</p>
  </div>  
    <div class="row mt-5">
        <div class="col-md-1"></div>
        <div class="col-md-11">
            <label">Subject</label>
            <select class="form-select w-25" aria-label="Default select example">
                <option value="0">Select Subject</option>
                <option value="1">English</option>
                <option value="2">Math</option>
                <option value="3">Filipino</option>
                </option value="4">Science</option>
              </select>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-11"></div>
 <div class="card">
    <h5 class="card-header">Featured</h5>
        <div class="card-body">
          <h5 class="card-title">Question</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>  
<label">Progress</label>    
<div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>

