<ul class="list-group p-5">
    <li class="list-group-item p-0" style="border-left: 5px solid green">
        <div style="border-bottom: 1px solid #CCC; padding: 10px;background-color: greenyellow;">
            <input class="form-check-input me-1" type="checkbox" value="" aria-label="..."> 
            Mathematics in the Modern World
        </div>
        <ul class="list-group" style="font-size: 0.8rem;color: #CCC;border-top:1px solid #CCC;">
            <li class="list-group-item" style="border: none;">Subject Code: GE-4</li>
            <li class="list-group-item" style="border: none;">Units: 3</li>
            <li class="list-group-item" style="border: none;">Instructor: TBA</li>
        </ul>
    </li>
    <li class="list-group-item p-0" style="border-left: 5px solid green;margin-top:10px;border-top:1px solid #CCC;">
        <div style="border-bottom: 1px solid #CCC; padding: 10px;">
            <input class="form-check-input me-1" type="checkbox" value="" aria-label="..."> 
            Mathematics in the Modern World
        </div>
        <ul class="list-group" style="font-size: 0.8rem;color: #CCC;">
            <li class="list-group-item p-0 px-3" style="border: none;">Subject Code: GE-4</li>
            <li class="list-group-item p-0 px-3" style="border: none;">Units: 3</pre></li>
            <li class="list-group-item p-0 px-3" style="border: none;">Instructor: TBA</li>
        </ul>
    </li>
    <li class="list-group-item p-0" style="border-left: 5px solid green">
        <div style="border-bottom: 1px solid #CCC; padding: 10px;background-color: greenyellow;">
            <input class="form-check-input me-1" type="checkbox" value="" aria-label="..."> 
            Mathematics in the Modern World
        </div>
        <ul class="list-group" style="font-size: 0.8rem;color: #CCC;">
            <li class="list-group-item" style="border: none;">Subject Code: GE-4</li>
            <li class="list-group-item" style="border: none;">Units: 3</li>
            <li class="list-group-item" style="border: none;">Instructor: TBA</li>
        </ul>
    </li>
    <li class="list-group-item p-0" style="border-left: 5px solid green">
        <div style="border-bottom: 1px solid #CCC; padding: 10px;background-color: greenyellow;">
            <input class="form-check-input me-1" type="checkbox" value="" aria-label="..."> 
            Mathematics in the Modern World
        </div>
        <ul class="list-group" style="font-size: 0.8rem;color: #CCC;">
            <li class="list-group-item" style="border: none;">Subject Code: GE-4</li>
            <li class="list-group-item" style="border: none;">Units: 3</li>
            <li class="list-group-item" style="border: none;">Instructor: TBA</li>
        </ul>
    </li>
    <li class="list-group-item p-0" style="border-left: 5px solid green">
        <div style="border-bottom: 1px solid #CCC; padding: 10px;background-color: greenyellow;">
            <input class="form-check-input me-1" type="checkbox" value="" aria-label="..."> 
            Mathematics in the Modern World
        </div>
        <ul class="list-group" style="font-size: 0.8rem;color: #CCC;">
            <li class="list-group-item" style="border: none;">Subject Code: GE-4</li>
            <li class="list-group-item" style="border: none;">Units: 3</li>
            <li class="list-group-item" style="border: none;">Instructor: TBA</li>
        </ul>
    </li>
</ul>