<div class="container mt-5">
    <div class="card" style="width: 18rem md-5 ">
        <div class="card-header mt-2 text-center" style="background-color: white;">
            <img src="/img/HEADER.png" class="img-fluid w-50" alt="...">
        </div>
        <div class="card-body">
          
            <div class="row">
                <div class="col mt-5 fs-2" style="font-family: 'Bebas Neue';text-align: center;"> 
                    GGCAST ENTRANCE EXAM
                </div>
                <div class="input-group flex-nowrap mt-5">
                  <span class="input-group-text" id="addon-wrapping"> </span>
                  <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
                </div>
                <div class="input-group flex-nowrap mt-5">
                  <span class="input-group-text" id="addon-wrapping"> </span>
                  <input type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="addon-wrapping">
                </div>
                <div class="text-center">
                <button type="button" class="btn btn-primary mt-5 w-auto px-5 mx-5">Login</button>
                
                  </div>
              </div>
    
        </div>
    
       
     
    
    </div>
  </div>