<div class="container mt-5">
    <div class="card" style="width: 18rem md-5 ">
        <div class="card-header mt-2 text-center" style="background-color: white;">
            <img src="/img/HEADER.png" class="img-fluid w-50 pt-3 pb-3" alt="...">
        </div>
        <div class="card-body">
            <div class="row">
                <form class="row g-3 needs-validation" method="post" action="/login/loginaccount">
                  <div class="input-group flex-nowrap mt-5">
                    <span class="input-group-text" id="addon-wrapping"> </span>
                    <input type="text" id="username" name="username" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
                  </div>
                  <div class="input-group flex-nowrap mt-5">
                    <span class="input-group-text" id="addon-wrapping"> </span>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="addon-wrapping">
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary mt-5 w-auto px-5 mx-5">Login</button>
                  </div>
                </form>
            </div>
        </div>
    </div>

    <!-- All content will be based on the return result of the login authentication -->
    <% if ( messages.error ) { %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Login Failed!</strong> <%=messages.error %>
      </div>
    <% } %>
</div>