<div class="container-fluid">
    <div class="row m-3" style="border-bottom: 1px solid #CCC;">
        <div class="col-12 col-sm-8">
            <h3><%= pageTitle %></h3>
        </div>
        <div class="col-12 col-sm-4 text-sm-start text-md-end mb-3">
            <button type="button" class="btn border border-success text-success" style="font-size: 0.8rem;" data-bs-toggle="modal" data-bs-target="#addUserAccountModal">Add User</button>
            <button type="button" class="btn border border-primary text-primary" style="font-size: 0.8rem;" data-bs-toggle="modal" data-bs-target="#accessLevelModal">Access Level</button>
        </div>
    </div>
    <div class="row mx-3 mb-3">
        <div class="col-12 text-muted" style="font-size: 0.8rem;text-align: justify;">
            The first thing you should do on the manage users page is set an access level. Creating, updating, and deleting functions will be included in the access level. It also allows you to define the user's rights, such as preparing, reviewing, and approving. You can now add new users and establish their access levels based on their positions or roles in the system after you've set all of the essential access levels—keep in mind that all users' data will be collected from the faculty records.
        </div>
    </div>
    <div class="row mx-3 mb-3">
        <div class="col-12">
            <div class="form-floating">
                <input type="text" class="form-control" id="searchuseraccount">
                <label for="searchuseraccount">Search User Account</label>
            </div>
        </div>
    </div>
    <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-3 mx-3">
        <!-- Start of the card -->
        <div class="col">
            <div class="card rounded-top bg-success bg-gradient m-0 border-success">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 col-sm-3 mt-3 text-center">
                            <img class="rounded-circle z-depth-2 border border-white" alt="100x100" src="https://ui-avatars.com/api/?name=Ryan+David+Pillerin&background=0D8ABC&color=fff" data-holder-rendered="true"><br>                            <a href="#" class="link-primary text-white" style="font-size: 0.8rem;">Edit</a>
                        </div>
                        <div class="col-12 col-sm-9">
                            <div class="card-body text-white">
                                <h5 class="card-title border-bottom">Ryan David Pillerin</h5>
                                <div class="mb-2 text-truncate text-white" style="font-size: 0.8rem;">ryan.david.pillerin@ggcast.edu.ph</div>
                                <div style="font-size: 0.8rem;"><strong>Instructor / Computer Laboratory In-Charge</In-charge></strong></div>
                            </div>
                        </div>
                    </div>
                </div>            
            </div>
        </div>
        <!-- End of the Card -->
        <div class="col">
            <div class="card rounded-top bg-success bg-gradient m-0 border-success">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 col-sm-3 mt-3 text-center">
                            <img class="rounded-circle z-depth-2 border border-white" alt="100x100" src="https://ui-avatars.com/api/?name=Roland+Felix+Payos&background=0D8ABC&color=fff" data-holder-rendered="true"><br>                            <a href="#" class="link-primary text-white" style="font-size: 0.8rem;">Edit</a>
                        </div>
                        <div class="col-12 col-sm-9">
                            <div class="card-body text-white">
                                <h5 class="card-title border-bottom">Roland Felix Payos</h5>
                                <div class="mb-2 text-truncate text-white" style="font-size: 0.8rem;">roland.felix.payos@ggcast.edu.ph</div>
                                <div style="font-size: 0.8rem;"><strong>Instructor / Mathematics Coordinator</In-charge></strong></div>
                            </div>
                        </div>
                    </div>
                </div>            
            </div>
        </div>
    </div>
</div>

<%- include('partials/modals/_manageaccounts.ejs') %>