<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="mb-3">
                <label for="txthost" class="form-label">Host Name</label>
                <input type="text" class="form-control" id="txthost" placeholder="Host Address">
            </div>
            <div class="mb-3">
                <label for="txtusername" class="form-label">Username</label>
                <input type="text" class="form-control" id="txtusername" placeholder="Username">
            </div>
            <div class="mb-3">
                <label for="txtpassword" class="form-label">Password</label>
                <input type="password" class="form-control" id="txtpassword" placeholder="Password">
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary" onclick="btnconnect()">Connect</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/js/events/managedb.js"></script>