<div class="container">
    <div class="card" style="width: 18rem md-5 ">
        <div class="card-header mt-2 text-center" style="background-color: rgb(255, 255, 255);">
            <div class="row">
                <div class="col  fs-2" style="font-family: 'Bebas Neue';text-align: center;"> 
                REGISTRATION
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-3" style="border-right: 1px solid #CCC">
                    <div class="text-center">
                        <img src="https://picsum.photos/200/300?random=1" class="rounded-circle" style="width: 6rem;height: 6rem;" alt="..." >
                    </div>
                    <div class="input-group mb-3 mt-3">
                        
                        <input type="file" class="form-control btn-sm" id="inputGroupFile01">
                      </div>       
                </div>
                <div class="col-sm-9">
                    <form class="row g-3">
                        <!-- ROw 1 -->
                        <div class="row mt-3">
                            <div class="col-md-8">&nbsp;</div>
                            <div class="col-md-4">
                                <label for="cmbcourse" class="form-label">Desired Course</label>
                                <select class="form-select" id="cmbcourse" aria-label="Desired Course">
                                    <option selected>BEED</option>
                                    <option value="1">BPA</option>
                                    <option value="2">BSED - English</option>
                                    <option value="3">BSED - Filipino</option>
                                    <option value="4">BSED - Math</option>
                                    <option value="5">BSOA</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12" >
                                <label for="personalinfo" class="form-label w-100" style="border-bottom: 1px solid #000;">PERSONAL INFORMATION</label>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-4">                 
                                <label for="lasttname" class="form-label"style=padding-top:10px;>Last Name</label>
                                <input type="text" class="form-control" id="lastname">
                            </div>
                            <div class="col-md-4" style="padding-top: 10px;">
                                <label for="middlename" class="form-label">Middle Name</label>
                                <input type="text" class="form-control" id="middlename">
                            </div>
                            <div class="col-md-4">
                                  <label for="firstname" class="form-label" style="padding-top: 10px;">First Name</label>
                                  <input type="text" class="form-control" id="lastname">
                            </div>
                        </div>
                        
                        <div class="row mt-3">
                            <div class="col-md-12"style=padding-top:15px;>
                                <label for="inputAddress" class="form-label w-100" style="border-bottom: 1px solid #000;">ADDRESS</label>
                            </div>
                        </div>                       
                        <div class="row mt-3">
                            <div class="col-md-4">
                                <label for="cmbprovince" class="form-label"style=padding-top:10px;>Province</label>
                                <select class="form-select" id="cmbprovince" aria-label="Province">
                                    <option value="pro" selected>Select Province...</option>
                                    <option value="davor">Davao Oriental</option>
                                    <option value="davnor">Davao del Norte</option>
                                    <option value="davocc">Davao Occidental</option>
                                    <option value="davdeoro">Davao de Oro</option>
                                    <option value="davsur">Davao del Sur</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="cmbmunicipality" class="form-label"style=padding-top:10px;>Municipality</label>
                                <select class="form-select" id="cmbmunicipality" aria-label="Municipality">
                                    <option value="mun" selected>Select Municipality...</option>
                                    <option value="gov">Governor Generoso</option>
                                    <option value="san">San Isidro</option>
                                    <option value="mat">Mati</option>
                                    <option value="lup">Lupon</option>
                                    <option value="ban">Banaybanay</option>
                                    <option value="tar">Tarragona</option>
                                    <option value="bag">Bagangga</option>
                                    <option value="Manay">Manay</option>
                                    <option value="cat">Cateel</option>
                                    <option value="bos">Boston</option>
                                    <option value="pan">Pantukan</option>
                                    <option value="mab">Mabini</option>
                                    <option value="mac">Maco</option>
                                    <option value="tagum">Tagum</option>
                                    <option value="pana">Panabo</option>
                                    <option value="dav">Davao City</option>
                                    <option value="car">Carmen</option>
                                    <option value="mon">Monkayo</option>
                                    <option value="mont">Montevista</option>
                                    <option value="com">Compostela</option>
                                    <option value="kap">Kapalong</option>
                                    <option value="sto">Sto Tomas</option>
                                    <option value="car">Carmen</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="cmbbarangay" class="form-label"style=padding-top:10px;>Barangay</label>
                                <select class="form-select" id="cmbbarangay" aria-label="Barangay">
                                    <option value="bar" selected>Select Barangay...</option>
                                    <option value="ani">Anitap</option>
                                    <option value="chi">Chicote</option>
                                    <option value="cri">Crispin del Cruz</option>
                                    <option value="lav">Lavigan</option>
                                    <option value="luz">Luzon</option>
                                    <option value="mag">Magdug</option>
                                    <option value="man">Manuel Roxas</option>
                                    <option value="nan">Nangan</option>
                                    <option value="pob">Poblacion</option>
                                    <option value="pun">Pundaguitan</option>
                                    <option value="ser">Sergio Osmeña</option>
                                    <option value="sur">Surop</option>
                                    <option value="tag">Tagabebe</option>
                                    <option value="tam">Tamban</option>
                                    <option value="tan">Tandang Sora</option>
                                    <option value="tib">Tibanban</option>
                                    <option value="tibl">Tiblawan</option>
                                    <option value="upp">Upper Tibanban</option>
                                    <option value="lau">La Union</option>
                                    <option value="cam">Cambaleon</option>
                                    <option value="mani">Mnikling</option>
                                    <option value="lan">Lanca</option>

                                </select>
                            </div>
                        </div>
                        <div class="row mt-3"style=padding-top:15px;>
                            <div class="col-md-12"style="padding-bottom: 0px; ">
                                <label for="inputContact" class="form-label w-100" style="border-bottom: 1px solid #000;margin:0;padding: 0;">CONTACT INFORMATION</label>
                                <div id="contactHelp" class="form-text mt-2 " style="margin:0; padding:0;" >We'll never share your contact information with anyone else.</div>
                            </div>
                        </div> 
                        <div class="row mt-3">
                            <div class="col-md-6 ">                 
                                <label for="emailadd" class="form-label">Email Address</label>
                                <input type="email" class="form-control" id="emailadd" placeholder="juan.delacruz@gmail.com"> 
                            </div>
                            <div class="col-md-6">
                                <label for="mobilenumber" class="form-label">Mobile Number</label>
                                <input type="text" class="form-control" id="mobilenumber" placeholder="09123456789">
                            </div>
                        <div>
                    </div>                     
                        <div class="row">
                            <div class="col-lg-9 col-sm-12"></div>
                            <div class="col-lg-3 col-sm-12 text-center">
                                <button type="submit" class="btn btn-primary w-auto mt-3 px-5">Register</button>
                            </div>
                        </div>
                      </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>