<div class="container-fluid">
    <div class="row mx-3 p-3" style="border-bottom: 1px solid #CCC">
        <div class="col-sm-12 col-md-10">
            <h3 class="text-uppercase">Setup Subjects</h3>
            <p class="text-muted">
                Setup Subjects is the procedure that allows the administrator to add, edit, and delete subjects that will be used in the creation of a curriculum. 
                After a subject has been used in the curriculum, no user has the ability to edit or delete it. Aside from that, any inactive subjects are no longer permitted to be used in the creation of a curriculum. 
                Additionally, any active subjects cannot be edited; they must first be set to inactive before being edited.
            </p>
        </div>
        <div class="col-sm-12 col-md-2 text-end">            
            <a href="" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addsubjectsModal"> 
                <span class="material-icons align-bottom">
                add
                </span>
            </a>
            <a href="#" class="btn btn-danger"> 
                <span class="material-icons align-bottom">
                delete
                </span>
            </a>
        </div>
    </div>
    <div class="row mx-3 mt-3">
        <div class="col-sm-12 col-md-12">
            <div class="table-responsive" style="overflow-x:auto;">
                <table class="table" style="min-width: 800px;">
                    <thead class="bg-primary text-white">
                        <tr>
                            <th style="width: 5%;">&nbsp;</th>
                            <th style="width: 30%;">Subjects</th>
                            <th style="width: 15%;" class="text-center">Units</th>
                            <th style="width: 20%;" class="text-center">Status</th>
                            <th style="width: 30%;" class="text-center">Details</th>
                        </tr>
                    </thead>
                    <tbody id="table-content">
                        <tr>
                            <td colspan="5" class="text-center">There are no subjects available in the list at the moment.</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="5"><span class="badge bg-success">Active</span> | <span class="badge bg-warning">Inactive</span></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>


<!-- Modal Forms -->
<div class="modal fade" id="addsubjectsModal" tabindex="-1" aria-labelledby="addsubjectsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title text-white" id="addsubjectsModalLabel">Add Subject</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="coursenumber" placeholder="e.g. GE 1">
                    <label for="coursenumber">Course No. <span style="color: red;">*</span></label>
                    <span class="text-muted mx-1" style="font-size: 0.8rem;">
                        e.g. GE 1, FIL 101, MATH 101, or EL 101
                    </span>
                    <div class="invalid-feedback mx-1">The course number is required. To learn more about the course number, kindly check out the school curriculum. </div>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="coursetitle" placeholder="e.g. Understanding the Self">
                    <label for="coursetitle">Course Title <span style="color: red;">*</span></label></label>
                    <span class="text-muted mx-1" style="font-size: 0.8rem;">
                        e.g. Understanding the Self, Introduction sa Pag-aaral ng Wika, or College and Advance Algebra
                    </span>                   
                    <div class="invalid-feedback mx-1">The course title is required. To learn more about the course title, kindly check on the CHED's New Policies, Standards, and Guidelines or the School Curriculum.</div>
                </div>
                <div class="form-floating mb-3">
                    <textarea style="height: 200px;" class="form-control" id="coursedescription" placeholder="Course Description" rows="3"></textarea>
                    <label for="coursedecription">Course Description <span style="color: red;">*</span></label></label>
                    <span class="text-muted mx-1" style="font-size: 0.8rem;">
                        The course description can be found under the CHED New Policies, Standards, and Guidelines per Program or School Curriculum. 
                    </span>
                    <div class="invalid-feedback mx-1">The course description is required when adding the subject. To learn more about the description of the specific subject, refer to the CHED's New Policies, Standards, and Guidelines per Program or School Curriculum.</div>
                </div>
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="unitlec" placeholder="Number of Units" value="0" data-dic="lecunit">
                    <label for="unitlecture">Lecture Units <span style="color: red;">*</span></label></label>                   
                    <div class="invalid-feedback mx-1">There should be at least one (1) lecture or one (1) laboratory unit.</div>
                </div>
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="unitlab" placeholder="Number of Units" value="0" data-dic="labunit">
                    <label for="unitlab">Laboratory Units <span style="color: red;">*</span></label></label>
                    <div class="invalid-feedback mx-1">There should be at least one (1) lecture or one (1) laboratory unit.</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <span class="material-icons align-bottom">
                        close
                    </span>
                    Close
                </button>
                <button type="button" class="btn btn-success" id="btnAddSubject">
                    <span class="material-icons align-bottom">
                        save
                    </span>
                    Save
                </button>
            </div>
        </div>
    </div>
</div>

<script type="module" src="/js/subjects/main.js"></script>