<div id="printContainer" class="overflow-scroll" style="background-color: #000;padding-top:10px;width: 100%;">
    <nav id="printmenubar" class="navbar navbar-light bg-light px-3 fixed-bottom donotinclude" style="background-color: rgba(255, 255, 255, 0.3) !important;">
      <a class="navbar-brand" href="#"></a>
      <ul class="nav nav-pills">
        <li class="nav-item">
          <div>
            <button type="button" id="btnprint" class="btn btn-primary" onclick="window.print()">
              <span class="material-icons align-bottom">print</span>
              Print
          </button>
          </div>
        </li>
      </ul>
    </nav>

    <div class="container-fluid" style="background-color: white;width: 760px;">
      <div class="row">
          <div class="col-12 text-center mt-3">
            <img src="/img/header.jpg" class="img-fluid" style="width: 90%;height: 140x;"  alt="..."> 
          </div>
      </div>
      <div class="row">
          <div class="col-12 text-center mt-3 mb-0 p-0 print-header-text" style="font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;">
              <h3 style="font-size:large; font-weight: bold;">TEACHING LOAD</h3>
          </div>
      </div>
      <div class="row">
        <div class="col-12 text-center mt-0 mb-3 p-0" style="font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;">
            <h3 style="font-size:small;">1st Semester, SY: 2021-2022</h3>
        </div>
      </div>

      <div class="row">
        <div class="col-1 text-start mt-0 mb-0">
            <h3 style="font-size:small;font-weight: normal;">Faculty:</h3>
        </div>
        <div class="col-2 text-start text-uppercase">
            <h3 style="font-size:small;font-weight: bold">noel A. yap</h3>
        </div>
      </div>

      <table class="table table-borderless" style="margin-top: 0in; margin-bottom: 0in; font-size:x-small; ">
        
        <thead>         
          <tr class="text-center align-middle" style="font: xx-small;border-bottom: 2px solid rgb(48, 3, 248);border-top: 1px solid rgb(92, 90, 95)">
            <th scope="col" class="m-0 p-0" width="10%">Subject Code</th>
            <th scope="col" class="m-0 p-0" width="22%">Course Title</th>
            <th scope="col" class="m-0 p-0" width="15%">Lec Time</th>
            <th scope="col" class="m-0 p-0" width="15%">Lab Time</th>
            <th scope="col" class="m-0 p-0" width="12%">Program</th>
            <th scope="col" class="m-0 p-0" width="10%">Year & Section</th>
            <th scope="col" class="m-0 p-0" width="8%">Room</th>
            <th scope="col" class="m-0 p-0" width="8%">Units Lec|Lab</th>
            
          </tr>
        </thead>
        
        <tbody>
         
          <tr>
            <td class="m-0 p-0">Elective 1</td>
            <td class="m-0 p-0">Plane and Solid Geometry</td>
            <td class="text-center m-0 p-0">2:30PM - 3:30PM MTW </td>
            <td class="text-center m-0 p-0">0</td>
            <td class="text-center m-0 p-0 text-uppercase">BSED-English</td>
            <td class="text-center m-0 p-0">1-A</td>
            <td class="text-center m-0 p-0">LGU 1</td>
            <td class="text-center m-0 p-0">3 | 0</td>
          </tr>
          <tr>
            <td class="m-0 p-0">GE 4</td>
            <td class="m-0 p-0">Mathematics in the Modern World</td>
            <td class="text-center m-0 p-0">2:30PM - 3:30PM MTW </td>
            <td class="text-center m-0 p-0">0</td>
            <td class="text-center m-0 p-0 text-uppercase">BSED-English</td>
            <td class="text-center m-0 p-0">1-A</td>
            <td class="text-center m-0 p-0">ALMARIO 1</td>
            <td class="text-center m-0 p-0">3 | 0</td>
          </tr>
          <tr>
            <td class="m-0 p-0">GE 10</td>
            <td class="m-0 p-0">Living in the IT Era</td>
            <td class="text-center m-0 p-0">2:30PM - 3:30PM MTW </td>
            <td class="text-center m-0 p-0">0</td>
            <td class="text-center m-0 p-0 text-uppercase">BSED-Filipino</td>
            <td class="text-center m-0 p-0">1-A</td>
            <td class="text-center m-0 p-0">LGU 3</td>
            <td class="text-center m-0 p-0">1 | 2</td>
          </tr> 
        </tbody>      
    </table>   
    <div class="row mt-3 p-0">
        <div class="col-10" style="width: 580px;"></div>
        <div class="col-1 text-uppercase text-end" style="width: 115px;font-weight: bold; font-size: x-small;">TOTAL:</div>
        <div class="col-1 text-uppercase text-center" style="width:50px;font-weight: bold; font-size: x-small;">7 | 2</div>      
    </div>
    <div class="row mt-0 mb-2 p-0">
        <div class="col-10" style="width: 580px;"></div>
        <div class="col-1 text-uppercase text-end" style="width: 115px;font-weight: bold; font-size: x-small;">GRAND TOTAL:</div>
        <div class="col-1 text-uppercase text-center" style="width:50px;font-weight: bold; font-size: x-small;">9</div>      
    </div>
    <div class="row mt-0 mb-2 p-0">
        <div class="col-12 text-start" style="font-style: italic;font-size: xx-small;border-top: 1px solid #000;">
            *The above load is subject to change if the subject has no enrollees. 
        </div>      
    </div>
    <div class="row mx-2 mt-3 mb-0">
      <div class="col-6 text-start mt-0 mb-0">
          <h3 style="font-size:small; font-weight: normal;">Approved:</h3>
      </div>
      <div class="col-6 text-start mt-0 mb-0">
          <h3 style="font-size:small; font-weight: normal;">Conformed/Received:</h3>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-5 text-center" style="width: 350px;padding-bottom: 0px; margin-bottom: 0pt;">
          <h3 style="font-size:small;font-weight: bold;">ROSITA J. BUSTAMANTE, PhD</h3>
      </div>
      <div class="col-6 text-center" style="padding-bottom: 0px;margin-bottom: 0px;">
          <h3 style="font-size:small;font-weight: bold;">NOEL A. YAP</h3>
      </div>
    </div>
    <div class="row" >
      <div class="col-5 text-center" style="width: 350px;"> 
          <h3 style="font-size:small; padding-top: 0px; margin-top: 0px;">College President</h3>
      </div>
    </div>
</div>