<!-- User Account -->
<div class="modal fade" id="addUserAccountModal" aria-hidden="true" aria-labelledby="addUserAccountModalLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addUserAccountModalLabel">Search Faculty Records</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">Next</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalToggleLabel2">Create User Account</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="username">
                <label for="username">Username <span class="text-danger">*</span></label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" class="form-control" id="password">
                <label for="password">Password <span class="text-danger">*</span></label>
                <div class="text-muted mx-1" style="font-size: 0.8rem;">The password must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters</div>
            </div>
            <div class="form-floating mb-3">
                <input type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" class="form-control" id="confirmpassword">
                <label for="password">Confirm Password <span class="text-danger">*</span></label>
                <div class="text-muted mx-1" style="font-size: 0.8rem;">The password must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters</div>
            </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" data-bs-target="#addUserAccountModal" data-bs-toggle="modal" data-bs-dismiss="modal">Back</button>
          <button type="button" class="btn btn-success">Create</button>
        </div>
      </div>
    </div>
</div>

<!-- Access Level Modal -->
<div class="modal fade" id="accessLevelModal" aria-hidden="true" aria-labelledby="accessLevelModalLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="accessLevelModalLabel">Manage Access Level</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="text-muted m-3 pb-3 px-1 border-bottom" style="font-size: 0.8rem;text-align: justify;">
                The first step in implementing an access level is to create a position or role. When you're finished, you'll need to choose which pages you want the user to see. After that, you just need to see what specific actions and rights you may provide the user.
            </div>
            <div class="m-3 pb-3 px-1 border-bottom">
                <button type="button" id="createaccesslevel" class="btn border border-success" data-bs-target="#createPositionModal" data-bs-toggle="modal" data-bs-dismiss="modal">Create Position or Role</button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped" style="min-width: 720px;">
                        <thead style="background-color:#238C2A; color: white;">
                            <th width="3%" class="text-center" style="font-size: 0.8rem;">#</th>
                            <th width="42%" style="font-size: 0.8rem;">Position or Role</th>
                            <th width="15%" style="font-size: 0.8rem;">Page(s)</th>
                            <th width="5%" class="text-center" style="font-size: 0.8rem;">View</th>
                            <th width="5%" class="text-center" style="font-size: 0.8rem;">Create</th>
                            <th width="5%" class="text-center" style="font-size: 0.8rem;">Update</th>
                            <th width="5%" class="text-center" style="font-size: 0.8rem;">Delete</th>
                            <th width="5%" class="text-center" style="font-size: 0.8rem;">Review</th>
                            <th width="5%" class="text-center" style="font-size: 0.8rem;">Approve</th>
                            <th width="10%" class="text-center" style="font-size: 0.8rem;">Actions</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center">1</td>
                                <td>Administrator</td>
                                <td>All</td>
                                <td class="text-center">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                </td>
                                <td class="text-center">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                </td>
                                <td class="text-center">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                </td>
                                <td class="text-center">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                </td>
                                <td class="text-center">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                </td>
                                <td class="text-center">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                </td>
                                <td class="text-center">
                                    <a href="#delete" class="btn">
                                        <span class="material-icons align-bottom text-danger">
                                            delete
                                        </span>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="4">&nbsp;</td>
                                <td colspan="6">
                                    <div class="row">
                                        <div class="col-4 text-start" style="font-size: 0.8rem;">
                                            <a href="#prev" class="btn border border-secondary"> << </a>
                                        </div>
                                        <div class="col-4 text-center" style="font-size: 0.8rem;padding-top:10px;">
                                            Page 1 of 10 
                                        </div>
                                        <div class="col-4 text-end" style="font-size: 0.8rem;">
                                            <a href="#next" class="btn border border-secondary"> >> </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Done</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="createPositionModal" aria-hidden="true" aria-labelledby="createPositionModalLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createPositionModalLabel">Create Position or Role</h5>
                <button type="button" class="btn-close" data-bs-target="#accessLevelModal" data-bs-toggle="modal" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="position">
                    <label for="position">Position or Role</label>
                </div
                <div class="form-floating mb-3">
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-target="#accessLevelModal" data-bs-toggle="modal" data-bs-dismiss="modal">Back</button>
                    <button type="button" class="btn btn-success" >Create</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Access Level -->

<!-- All Javascript can be found here -->
<script type="module" src="/js/models/manageaccounts/main.js"></script>